<div class="usersData">
  <div class="grid-1x3">
    <div class="userdetails">
      <img class="userimage1" src="../../../assets/17241-200.png" />
      <div class="addresslabel">
        <label class="userlab">User Details</label>
      </div>
      <label class="lab">UserId:-</label>
      <span class="details">{{ user.id }}</span>
      <label class="lab">User Name:-</label>
      <span class="details">{{ user?.name }}</span>
      <label class="lab">User Username:-</label>
      <span class="details">{{ user.username }}</span>
      <label class="lab">User Email:-</label>
      <span class="details">{{ user.email }}</span>
      <label class="lab">User Phone No.:-</label>
      <span class="details">{{ user.phone }}</span>
    </div>

    <div class="second">
      <div class="Address">
        <div class="addresslabel">
          <label>User Address</label>
        </div>
        <br />
        <label class="lab">Street:-</label>
        <span class="details">{{ user?.address?.street }}</span>
        <label class="lab">Suite:-</label>
        <span class="details">{{ user?.address?.suite }}</span>
        <label class="lab">City:-</label>
        <span class="details">{{ user?.address?.city }}</span>
        <label class="lab">ZipCode:-</label>
        <span class="details">{{ user?.address?.zipcode }}</span>
        <label class="lab">Latitude:-</label>
        <span class="details">lat:{{ user?.address?.geo?.lat }}</span>
        <label class="lab">Longitude:-</label>
        <span class="details">lng:{{ user?.address?.geo?.lng }} </span>
      </div>
      <br />
      <div class="Company">
        <div class="addresslabel">
          <label>User Company</label>
        </div>
        <br />
        <label class="lab">Name:-</label>
        <span class="details">{{ user?.company?.name }}</span>
        <label class="lab">catchPhrase:-</label>
        <span class="details">{{ user?.company?.catchPhrase }}</span>
        <label class="lab">bs:-</label>
        <span class="details">{{ user?.company?.bs }}</span>
      </div>
    </div>
  </div>
  <div class="btndiv">
    <a class="submit2" routerLink="/mainPage">Go back</a>
  </div>
</div>
